name: Docker CI/CD

on:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ] # (Optional) Trigger on tags too

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-test-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # We need Python on the HOST to run the verification script
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Verification Dependencies
        run: pip install pandas

      - name: Build Docker Image
        run: docker build . -t gotchao-image

      - name: Run Test Suite
        run: |
          chmod +x tests/run_test.sh
          export CI=true
          ./tests/run_test.sh

      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker Image
        if: github.event_name != 'pull_request'
        run: |
          IMAGE_ID=$REGISTRY/$IMAGE_NAME
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          echo "Pushing to $IMAGE_ID"
          docker tag gotchao-image $IMAGE_ID:latest
          docker push $IMAGE_ID:latest